body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana,
		sans-serif;
}

#layoutheader {
	background-color: #990000;
	margin-bottom: 10px;
	/* border: 1px solid #DADADA; */
	height: 50px;
}

#layoutleftnav {
	background-color: #FFFFFF;
	float: left;
	width: 200px;
	min-height: 400px;
}

#layoutcenter {
	background-color: #FFFFFF;
	float: left;
	min-height: 400px;
	width: 900px;
	/* 	border: 2px solid #DADADA; */
}

#layoutrightnav {
	
}

#layoutfooter {
	background-color: #FFFFFF;
	clear: both;
	text-align: right;
	color: #D11919;
	font-size: 12px;
}

#layoutfooter hr {
	height: 0;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 5px 5px;
}

/*********************************************/
/* Header Title Page  */
#headerimage{
	color: #FFFFFF;
	padding: 0px 0px 0px 5px;
}
#headertitle {
	float: left;
	font-size: 12px;
	padding: 0px 0px 0px 5px;
	width:200px;
	/* border: 1px solid #DADADA; */
	color: #FFFFFF;
}

#headernav { 
	font-size: 12px;
	font-weight: bold;
	float: right;
	color: #FFFFFF;
	padding: 0px 10px 0px 5px;
	/* border: 1px solid #DADADA; */
}
#headernav a { 
	font-size: 12px;
	font-weight: normal;
	color: #FFFFFF;
}

/*********************************************/
/* Left Menu  */
#leftmenu {
	background-color: #FFFFFF;
	margin: 2px 5px 5px 1px;
	font-size: 12px;
}

.leftmenulink {
	padding: 5px 0 5px 5px;
}
.leftmenusublink{
    padding: 5px 0 5px 25px;
}


#loginForm {
	margin-top: 20px;
	width: 300px;
	margin: 0 auto;
	border: 1px solid #ccc;
	-moz-border-radius: 8px;
	border-radius: 8px;
	padding: 20px 30px;
	font-size: 12px;
}

#loginForm h3 {
	margin-bottom: 15px;
}

#loginForm label {
	width: 100px;
	display: block;
	float: left;
}

#eventForm {
	margin-top: 20px;
	width: 600px;
	margin: 0 auto;
	float: left;
	padding: 10px 0 0 20px;
	font-size: 12px;
}

#eventForm label {
	clear: both;
	float: left;
	width: 40%;
}

#eventForm  input {
	float: left;
	width: 55%;
}

#masterevent {
	margin-top: 20px;
	margin: 0 auto;
	float: left;
	padding:   10px 0 0 20px
}
#mastereventimage {
	margin-top: 20px;
	margin: 0 auto;
	float: left;
	padding:   10px 0 0 20px
}
.formtag {
	
}

#logincontainer {
	margin: 0 auto;
}
/* typo */
h1 {
	font-size: 16px;
	font-weight: bold;
}

h2 {
	font-size: 14px;
	font-weight: bold;
}

h3 {
	font-size: 13px;
}

h4 {
	font-size: 12px;
}

hr {
	height: 0;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 10px 10px;
}

#outfit {
	float: left;
	border: 1px solid #DADADA;
	height: 300px;
	width: 275px;
	margin-right: 10px;
	margin-bottom: 10px;
	position: relative; /* important for link spanner to work*/
	padding: 5px 0 0 5px;
	font-size: 12px;
}
/*Important:*/
.link-spanner {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;

	/* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif 
  background-image: url('empty.gif');*/
}


#outimage { /* border: 1px solid #DADADA; */
	float: left;
	height: 300px;
	width: 175px;
}

#tags {
	float: left;
	/* border: 1px solid #D11919; */
	height: 250px;
	width: 90px;
	padding-top: 20px;
	font-size: 12px;
}

#outfitlarge {
	float: left;
	/* border: 1px solid #DADADA; */
	width: 700px;
	font-size: 12px;
}

#outimagelarge { 
    border: 1px solid #DADADA; 
	float: left;
	height: 600px;
	width: 360px;
	padding: 5px 5px 5px 5px;
}

#deleteoutfit { 
   /*  border: 1px solid #D11919;  */
	width: 360px;
	padding: 5px 5px 5px 5px;
}

#tagslarge { 
 border: 2px solid #DADADA; 
	float: right;
	min-height: 200px;
	max-height: 200px;
	overflow: auto;
	width: 300px;
	padding: 10px 5px 5px 5px;
	font-size: 14px;
}
#tagtext{
	float: left;
	font-size: 14px;
	font-weight: bold;
	padding: 2px 5px 2px 5px;
	margin: 3px 8px 0px 0px; 
	background: #F5E6E6;
}

#unassignedevents { 
	border: 2px solid #DADADA;
	float: right;
	width: 300px;
	max-height: 200px;
	overflow: auto;
	overflow-y: scroll;
	padding: 5px 5px 5px 5px;
	font-size: 12px;

}

#events { 
    border: 2px solid #DADADA; 
    float: right;
    width: 300px;
	padding: 0px 5px 5px 5px;
	margin:  10px 0px 5px 5px;
	max-height: 150px;
	overflow: auto;
}

#search {
	border: 1px solid #DADADA;
	font-size: 12px;
}


​
​
.imagepic {
	width: 175;
	height: 300;
}

.shadow {
	-moz-box-shadow: 5px 5px 5px #888;
	-webkit-box-shadow: 5px 5px 5px #888;
}
​
#actualImage {
	padding: 2px;
}

/*********************************************/
/* Event Log Page  */

#eventlog{
    float: left;
    width: 105px;
    height: 215px;
    border: 1px solid #DADADA;
    margin-right: 5px;
    margin-bottom: 10px;
    padding: 0px 0px 0px 5px;
    background-color: #DADADA;
    position: relative; /* important for link spanner to work*/
}
#futureeventlog{
    float: left;
    width: 105px;
    height: 215px;
    border: 1px solid #DADADA;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0px 0px 0px 5px;
    -moz-box-shadow: 3px 3px 3px #888;
    -webkit-box-shadow: 3px 3px 3px #888;
    position: relative; /* important for link spanner to work*/
}
#futureevent{
    width: 800px;
    min-height: 300px;
}
#pastevent{
    width: 800px;
    min-height: 400px;
}
#eventlogtitle{
	font-size: 12px;
	float: left;
	height: 40px;
}
#eventlogdate{
	font-size: 11px;
	font-weight: bold;
	float: left;
}


#imagethumbnail{
	float: left;
}


table {
	background: #FBF5F5;
	margin: 3px 0 0 0;
	/* border: 2px solid #AD3333; */
	border-collapse: collapse;
	width:100%;
}

table thead {
	font-weight: bold;
	font-style: italic;
	background-color: #AD3333;
	/* CC8080 */
	color: #FFFFFF;
}
table td {
	padding: 4px;
}
/* 
.container {width:950px;margin:0 auto;}


body {
	background-color: #fff;
	background-image: url(../images/banner-graphic.png);
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
	min-width: 600px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

#div {
	margin: 5px 10px 10px 0px;
	text-align: left;
}

header and footer elements

#main {
  	margin:0 auto;
  	position:relative;
  	top: 35px;
  	left:0px;
  	width:885px;
  	text-align:left;
}

.footer {
	background:#fff;
	border:none;
	margin-top:20px;
	border-top:1px solid #999999;
	width:100%;
}

.footer td {color:#999999;}

.footer a:link {color: #7db223;}

	
text styles

h1,h2,h3 {
	font-family: Helvetica, sans-serif;
	color: #7db223;
}

h1 {
	font-size: 20px;
	line-height: 26px;
}

h2 {
	font-size: 18px;
	line-height: 24px;
}

h3 {
	font-size: 15px;
	line-height: 21px;
	color:#555;
}


.errors {
	color: red;
	font-weight: bold;
}

a {
	text-decoration: underline;
	font-size: 13px;
}

a:link {
	color: #7db223;
}

a:hover {
	color: #456314;
}

a:active {
	color: #7db223;
}

a:visited {
	color: #7db223;
}

ul {
	list-style: disc url(../images/bullet-arrow.png);
}

li {
	padding-top: 5px;
	text-align: left;
}

li ul {
	list-style: square url(../images/bullet-arrow.png);
}

li ul li ul {
	list-style: circle none;
}

table elements


table td,table th {
	padding: 8px;
}

table th {
	font-size: 12px;
	text-align: left;
	font-weight: bold;
}



table a:link {color: #303030;}

caption {
	caption-side: top;
	width: auto;
	text-align: left;
	font-size: 12px;
	color: #848f73;
	padding-bottom: 4px;
}

fieldset {
	background: #e0e7d3;
	padding: 8px;
	padding-bottom: 22px;
	border: none;
	width: 560px;
}

fieldset label {
	width: 70px;
	float: left;
	margin-top: 1.7em;
	margin-left: 20px;
}

fieldset textfield {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset textarea {
	margin: 3px;
	height: 165px;
	background: #e0e7d3;
}

fieldset input {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset table {
	width: 100%;
}

fieldset th {
	padding-left: 25px;
}

.table-buttons {
	background-color:#fff;
	border:none;
}

.table-buttons td {
	border:none;
}

.submit input {
	background:url(../images/submit-bg.png) repeat-x;
    border: 2px outset #d7b9c9;
	color:#383838;
	padding:2px 10px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
}

.updated {
	background:#ecf1e5;
	font-size:11px;
	margin-left:2px;
	border:4px solid #ecf1e5;
}

.updated td {
	padding:2px 8px;
	font-size:11px;
	color:#888888;
}

.image {
    float: left;
    width: 175px;
    height: 300px;

}
.tag{
    float: left;
    width: 100px;
    height: 300px;
    background: #d6e2c3;
	margin: 1px 5px 1px 1px;

}​ */
*
/